body{
    background-image: url(sample-pattern.png);
    background-size: fit;
}

.header{

}

.nav{
    text-align: right;
    height: 60px;
    width: 100%;
    border-style: solid;
    border-radius: 0px 0px 0px 0px;
    border-width: 0px;
}

.nav a{
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: black;
    height: 20px;
    width: 110px;
    display: inline-block;
    padding: 20px 20px 20px 20px;
    margin: 0px 0px 0px 0px;
    border-style: solid;
    border-width: 0px;
}

.nav a:hover{
    color: white;
    background-color: black;
}

.content-home h1{
    text-align: center;
}

.footer{
    background-color: black;
    height: 125px;
    width: auto;
    border-style: solid;
    border-width: 0px;
}

.footer p{
    color: white;
    text-align: center;
    font-size: 18px;
}